# 01 – Python: Data Types and Data Structures

## Basic Variable Types

### Strings

In [2]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [3]:
my_string1 = 'Salutaciones'
my_string2 = "mundo"
print(my_string1 + ' ' + my_string2)

Salutaciones mundo

### Integers

In [4]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [8]:
our_int = 144
print(our_int)
print(type(our_int))

144
<class 'int'>

### ```int()``` Function

In [9]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [11]:
our_string = "12"
print(type(our_string))
our_int = int(our_string)
print(type(our_string))

<class 'str'>
<class 'str'>

### Floats

In [12]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [13]:
our_float = 12.0
print(type(our_float))
our_int = 12
print(type(our_int))

<class 'float'>
<class 'int'>

### ```float()``` Function

In [14]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [15]:
our_string = "3.1415"
our_float = float(our_string)
print(type(our_float))

<class 'float'>

### Booleans

In [16]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [18]:
our_bool = True
print(our_bool)
print(type(our_bool))

True
<class 'bool'>

## Basic Math Operations

In [20]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [24]:
print('Addition:', 10 + 15)
print('Substraction:', 10 - 15)
print('Multiplication:', 10 * 15)
print('Division:', 10 / 15)
print('Exponentiation:', 10 ** 15)

Addition: 25
Substraction: -5
Multiplication: 150
Division: 0.6666666666666666
Exponentiation: 1000000000000000

## Data Collections

### Lists

In [25]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [27]:
our_list = [4, 5, 6, 'Me', 'You']
print(our_list)

[4, 5, 6, 'Me', 'You']

In [28]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [32]:
our_list = [4, 5, 6, 'Me', 'You']
print(len(our_list))
print(our_list[3])
print(our_list[len(our_list) - 3])

5
Me
6

In [33]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [34]:
our_list = [4, 5, 6, 'Me', 'You']
our_list[3] = 7
print(our_list)

[4, 5, 6, 7, 'You']

In [35]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [36]:
our_list = [4, 5, 6, 'Me', 'You']
print(our_list[0:len(our_list) - 2])

[4, 5, 6]

In [37]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [38]:
print(our_list[3:])

['Me', 'You']

In [39]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [40]:
print(our_list[:3])

[4, 5, 6]

In [41]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [43]:
our_list = [1, 2, 3.5, 6]
our_list.append(5**2)
print(our_list)
our_list.remove(7/2)
print(our_list)

[1, 2, 3.5, 6, 25]
[1, 2, 6, 25]

### Tuples

In [44]:
my_tuple = ('Welcome','to','QuantConnect')

In [45]:
our_tuple = ('3', '.14', '15')
print(our_tuple)

('3', '.14', '15')

In [46]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [47]:
our_tuple = ('3', '.14', '15')
print(our_tuple[2])

15

### Sets

In [48]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'F', 'AAPL', 'GOOG'}

In [49]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 1.0, 4/2, 3**2]
number_set = set(number_list)
print(number_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Dictionary

In [50]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [55]:
our_dic = {1 : 'one', 2 : 'two', 3 : 'three', 6: 'six'}

In [56]:
print(my_dic['GOOG'])

Alphabet

In [57]:
print(our_dic[2])

two

In [58]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [59]:
our_dic[6] = 'two times three'
print(our_dic[6])

two times three

In [60]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [61]:
print(our_dic.keys())

dict_keys([1, 2, 3, 6])

## Common String Operators

In [62]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [63]:
our_str = 'Hello dear World'
print(our_str[:5])

Hello

In [64]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [65]:
print('The quick brown fox jumps over the lazy dog'.count('a'))
print('The quick brown fox jumps over the lazy dog'.find('x'))
print('The quick brown fox jumps over the lazy dog'.replace('o', '0'))

1
18
The quick br0wn f0x jumps 0ver the lazy d0g

In [66]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [68]:
pi = '3.1415926535'
split_pi = pi.split('.')
integer = split_pi[0]
decimal = split_pi[1]
print(integer, decimal)
short_pi = pi.split('9')[0]
print(short_pi)

3 1415926535
3.1415

In [69]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [71]:
our_day = 'It is {} {}th today.'.format('October', 19)
print(our_day)

It is October 19th today.

In [73]:
print('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [75]:
print('Order no. %05d' % 5)

Order no. 00005

# 02 – Python: Logical Operations and Loops

## Logical Operations

In [77]:
print(1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print(1 != 0)    # 1 is not equal to 0
print(5 >= 5)    # 5 is greater than or equal to 5
print(5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [78]:
print(2 + 2 == 4)

True

In [79]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [83]:
print(not 1 > 2)
print(1 > 2 and 2 < 1)
print((not 1 > 2) and (not 2 < 1))
print(1 == 1 or 1 == 0)

True
False
True
True

In [87]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [88]:
print((1 == 1) and (1 == 1) and (1 == 1) and (1 == 1) and (1 == 1) and (1 != 2))

True

## If Statement

In [90]:
i = 0
if i == 0: print('i == 0 is True')

i == 0 is True

In [92]:
j = 5
if j < 4:
  print(j, 'is less than 4')
else:
  print(j, 'is equal or greater than 4')

5 is equal or greater than 4

In [94]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [95]:
r = 3**2 == 2**3 - 1
s = 2**2 == 2**2 - 1

if r and s:
  print('This is a contradiction')
else:
  print('This is fine')

This is fine

## Loop Structure

### While Loop

In [97]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [101]:
j = 25
while j > 0:
  print(j)
  j -= 2

25
23
21
19
17
15
13
11
9
7
5
3
1

### For Loop

In [103]:
for x in [1,2,3,4,5]: print(x)

1
2
3
4
5

In [106]:
for p in [2, 3, 5, 7, 11, 13]: print(2**p - 1)

3
7
31
127
2047
8191

In [108]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [111]:
odd_list = []

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  if i % 2 == 0:
    print(i, 'is even')
  else:
    odd_list.append(i)
    print(i, 'is odd')

print(odd_list)

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
[1, 3, 5, 7, 9]

### ```break``` and ```continue```

In [117]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [114]:
our_list = []

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]:
  our_list.append(i)
  if i == 7:
    break

print(our_list)

[1, 2, 3, 4, 5, 6, 7]

In [118]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print(stock)

AAPL
GOOG
IBM
F
V
G
GE

In [119]:
our_list = []

for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]:
  if i > 7:
    continue
  our_list.append(i)

print(our_list)

[1, 2, 3, 4, 5, 6, 7]

## List Comprehension

In [121]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [124]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print(squares)

[1, 4, 9, 16, 25]

In [122]:
is_even = []

for i in [1, 2, 3, 4, 5, 6, 7, 8]:
  is_even.append(i % 2 == 0)

print(is_even)

[False, True, False, True, False, True, False, True]

In [125]:
bar = [1, 2, 3, 4, 5, 6, 7, 8]
is_even = [i % 2 == 0 for i in bar]

print(is_even)

[False, True, False, True, False, True, False, True]

In [127]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [128]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_list = [i for i in numbers if i % 2 != 0]
print(odd_list)

[1, 3, 5, 7, 9]

In [130]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [132]:
coordinates = [str(a) + str(b) for a in ['A', 'B', 'C', 'D'] for b in [1, 2, 3, 4]]
print(coordinates)

['A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'B4', 'C1', 'C2', 'C3', 'C4', 'D1', 'D2', 'D3', 'D4']

# 03 – Python: Functions and Object-Oriented Programming

## Functions

In [134]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [136]:
def is_even(x):
  return x % 2 == 0

print(is_even(3))
print(is_even(4))
print(is_even(45))

False
True
False

In [139]:
def say_hi():
    print("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [141]:
def greet(s):
  print('Hello', s + '!')

greet('World')
greet('everyone')

Hello World!
Hello everyone!

## Built-in Function

### ```range()```

In [150]:
print(range(10))
print(range(1, 11))
print(range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [157]:
# Looks like the original range() function in Python 2 was removed, so it no longer prints a list.
print([x for x in range(10)])
print([x for x in range(3, 15, 2)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 5, 7, 9, 11, 13]

### ```len()```

In [159]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [160]:
numbers = [1, 2, 3, 4, 5, 6]
for i in range(len(numbers)):
  print('2 to the power of', i, 'is equal to', 2**i)

2 to the power of 0 is equal to 1
2 to the power of 1 is equal to 2
2 to the power of 2 is equal to 4
2 to the power of 3 is equal to 8
2 to the power of 4 is equal to 16
2 to the power of 5 is equal to 32

### ```map()```

In [161]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [162]:
numbers = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']
print(list(map(len, numbers)))

[3, 3, 5, 4, 4, 3, 5]

In [164]:
my_map = map(lambda x: x**2, range(10))
print(list(my_map))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [166]:
print(list(map(lambda x: 1/x, range(1, 15))))

[1.0, 0.5, 0.3333333333333333, 0.25, 0.2, 0.16666666666666666, 0.14285714285714285, 0.125, 0.1111111111111111, 0.1, 0.09090909090909091, 0.08333333333333333, 0.07692307692307693, 0.07142857142857142]

In [167]:
my_map = map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])
print(list(my_map))

[6, 6, 6, 6, 6]

In [172]:
print(list(map(lambda x, y: x**y, range(1, 11), range(1, 11))))

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

### ```sorted()```

In [170]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [173]:
sorted(['a', 'c', 'd', 'f', 'y', 'p'])

['a', 'c', 'd', 'f', 'p', 'y']

In [174]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [176]:
coordinates = [('A', 5), ('B', 2), ('E', 4), ('E', 6), ('C', 1), ('D', 3)]
sorted(coordinates, key = lambda x: x[0])

[('A', 5), ('B', 2), ('C', 1), ('D', 3), ('E', 4), ('E', 6)]

In [177]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [178]:
coordinates = [('A', 5), ('B', 2), ('E', 4), ('E', 6), ('C', 1), ('D', 3)]
sorted(coordinates, key = lambda x: x[0], reverse = True)

[('E', 4), ('E', 6), ('D', 3), ('C', 1), ('B', 2), ('A', 5)]

In [180]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [182]:
coordinates = [('A', 5), ('B', 2), ('E', 4), ('E', 6), ('C', 1), ('D', 3)]
coordinates.sort(key = lambda x: x[0])
print(coordinates)

[('A', 5), ('B', 2), ('C', 1), ('D', 3), ('E', 4), ('E', 6)]

## Object-Oriented Programming

### Class

In [184]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

In [185]:
class Person:
  def __init__(self, age, gender, height, weight):
    self.age = age
    self.gender = gender
    self.height = height
    self.weight = weight
  
  def birthday(self):
    self.age += 1
  
  def print_age(self):
    print(self.age)

In [186]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [187]:
Luis = Person(20, 'M', 180, 72)
Luisa = Person(24, 'F', 157, 60)

In [192]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

In [193]:
apple.ticker

'AAPL'

In [194]:
Luis.print_age()
Luis.birthday()
Luis.print_age()

20
21

In [195]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [196]:
Luis.name = 'Luis'
Luis.name

'Luis'

In [197]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [198]:
dir(Luis)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'birthday',
 'gender',
 'height',
 'name',
 'print_age',
 'weight']

### Inheritance

In [199]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [208]:
class Kid(Person):
  def __init__(self, name, father, mother, age, gender):
    self.name = name
    self.father = father
    self.mother = mother
    self.age = age
    self.gender = gender

In [204]:
aa = Child('AA')
print(aa.name)
aa.update(100, 102)
print(aa.open)
print(aa.close)
print(aa.print_return())

AA
100
102
0.020000000000000018
None

In [209]:
Pedro = Kid('Pedro', Luis, Luisa, 10, 'M')
Pedro.print_age()
Pedro.birthday()
Pedro.print_age()

10
11

# 04 – NumPy and Basic Pandas

## NumPy

In [210]:
import numpy as np

### Arrays

In [212]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [215]:
numbers = list(range(1, 10))
number_array = np.array(numbers)
print(number_array, type(price_array))

[1 2 3 4 5 6 7 8 9] <class 'numpy.ndarray'>

In [217]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [219]:
M = np.array([['A', 'D', 'G'], ['B', 'E', 'H'], ['C', 'F', 'I']])
print(M, type(M))

[['A' 'D' 'G']
 ['B' 'E' 'H']
 ['C' 'F' 'I']] <class 'numpy.ndarray'>

In [221]:
print(Ar.shape)

(2, 2)

In [222]:
print(M.shape)

(3, 3)

In [223]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [224]:
print(M[2])

['C' 'F' 'I']

In [225]:
print('First column:', Ar[:,0])
print('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [227]:
print('Third column:', M[:,2])

Third column: ['G' 'H' 'I']

### Array Functions

In [228]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [229]:
np.mean(price_array)
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

0.9673790478515796
863.38
145.83

In [232]:
# Looks like none of the functions work on a String array.

## Pandas

In [233]:
import pandas as pd

### Series

In [236]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [238]:
ranges = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0]
ss = pd.Series(map(lambda x: np.log(x), ranges))
print(ss)

0         -inf
1    -1.609438
2    -0.916291
3    -0.510826
4    -0.223144
5     0.000000
6     0.182322
7     0.336472
8     0.470004
9     0.587787
10    0.693147
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [240]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [242]:
ss = pd.Series(map(lambda x: np.log(x), ranges), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'])
print(ss)

a        -inf
b   -1.609438
c   -0.916291
d   -0.510826
e   -0.223144
f    0.000000
g    0.182322
h    0.336472
i    0.470004
j    0.587787
k    0.693147
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

In [243]:
s.index = [6,5,4,3,2,1]
print(s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [244]:
ss.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
print(ss)

a        -inf
b   -1.609438
c   -0.916291
d   -0.510826
e   -0.223144
f    0.000000
g    0.182322
h    0.336472
i    0.470004
j    0.587787
k    0.693147
dtype: float64

In [245]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [248]:
print(ss[0:5])

a        -inf
b   -1.609438
c   -0.916291
d   -0.510826
e   -0.223144
dtype: float64

In [249]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [250]:
print(ss[0])
ss[0] = 0.0
print(ss)

-inf
a    0.000000
b   -1.609438
c   -0.916291
d   -0.510826
e   -0.223144
f    0.000000
g    0.182322
h    0.336472
i    0.470004
j    0.587787
k    0.693147
dtype: float64

In [251]:
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [252]:
ss.name = 'Logarithms of x'
print(ss)
print(ss.name)

a    0.000000
b   -1.609438
c   -0.916291
d   -0.510826
e   -0.223144
f    0.000000
g    0.182322
h    0.336472
i    0.470004
j    0.587787
k    0.693147
Name: Logarithms of x, dtype: float64
Logarithms of x

In [254]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [255]:
print(ss.describe())

count    11.000000
mean     -0.089997
std       0.696048
min      -1.609438
25%      -0.366985
50%       0.000000
75%       0.403238
max       0.693147
Name: Logarithms of x, dtype: float64

### Time Index

In [256]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [257]:
months = pd.date_range('2021-10-19', periods = len(ss), freq = 'M')
print(months)
ss.index = months
print(ss)

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', freq='M')
2021-10-31    0.000000
2021-11-30   -1.609438
2021-12-31   -0.916291
2022-01-31   -0.510826
2022-02-28   -0.223144
2022-03-31    0.000000
2022-04-30    0.182322
2022-05-31    0.336472
2022-06-30    0.470004
2022-07-31    0.587787
2022-08-31    0.693147
Freq: M, Name: Logarithms of x, dtype: float64

In [258]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [259]:
print(s.iloc[1])

145.83

In [263]:
print(ss.iloc[0])

0.0

In [264]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [267]:
print(ss['2021-10-31'])

0.0

In [268]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [269]:
print(ss['2022-01-01':'2023-01-01'])

2022-01-31   -0.510826
2022-02-28   -0.223144
2022-03-31    0.000000
2022-04-30    0.182322
2022-05-31    0.336472
2022-06-30    0.470004
2022-07-31    0.587787
2022-08-31    0.693147
Freq: M, Name: Logarithms of x, dtype: float64

In [270]:
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [271]:
print(ss[months < '2021-12-31'])

2021-10-31    0.000000
2021-11-30   -1.609438
Freq: M, Name: Logarithms of x, dtype: float64